body{
    background: #ED7200;
}

navbar{
    background: #ED7200;
    box-shadow: 0px 4px 35px rgba(162, 58, 0, 0.75);
}


nav-item {
    /* Tags */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 24px;
    gap: 10px;

    width: 118px;
    height: 42px;

    opacity: 0.8;
    border-radius: 33px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

tags{
    box-sizing: border-box;

    position: relative;
    width: 363px;
    height: 82px;
    
    border: 1px dashed #7B61FF;
    border-radius: 5px;
}

